# Pandas
**conda install pandas**

##### Series
* 1ì°¨ì› ìë£Œêµ¬ì¡°
* ê°™ì€ datatypeë§Œ ì €ì¥ ê°€ëŠ¥

##### DataFrame
* 2ì°¨ì› ìë£Œêµ¬ì¡°
* Seriesì˜ ì§‘í•©

### Series

In [1]:
import numpy as np
import pandas as pd

In [10]:
# ndarray
arr = np.array([1,2,3,4,5], dtype=np.float64)
print(arr)

print("======"*10)

# Series
s = pd.Series([1, 2, 3, 4, 5], dtype=np.float64)
print(s) # indexì™€ valueê°€ ê°™ì´ ì¶œë ¥ë¨
print(s.values) # [1. 2. 3. 4. 5.]    ndarrayë¡œ êµ¬ì„±ë˜ì–´ìˆìŒ
print(s.index)  # RangeIndex(start=0, stop=5, step=1)  => pandasì˜ ê°ì²´
print(s.dtype)  # float64   ì‹¤ìˆ˜ì„!

[1. 2. 3. 4. 5.]
============================================================
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64
[1. 2. 3. 4. 5.]
RangeIndex(start=0, stop=5, step=1)
float64

In [14]:
s = pd.Series([1,2,3,4,5],
              dtype=np.float64,
              index=['a','b','c','d','e'])
print(s)
# => ì¸ë±ìŠ¤ë¥¼ ì§€ì •í•´ì„œ Seriesë¥¼ ë§Œë“¤ë©´ ìˆì—ˆë˜ ìˆ«ì indexëŠ” ì–´ì¼€ë¨..??????
# ìˆ«ì indexëŠ” ê·¸ëŒ€ë¡œ ì‚¬ìš© ê°€ëŠ¥!! ë‚´ë¶€ì— ìˆ¨ì–´ ìˆìŒ~
print(s[0])    # ìˆ«ì index 0  =>  1.0
print(s['a'])  # ì§€ì • index a  =>  1.0

# print(s[100])     # error   => ì—†ëŠ” index ì—¬ê¸°ì„œ ì°¾ì§€ ë§ˆì…ˆ,,,, ì˜¤ë¥˜ ë³´ë‚¼ê±°ì„,,
# print(s['ppp'])   # error   => ì—†ëŠ” index ì—¬ê¸°ì„œ ì°¾ì§€ ë§ˆì…ˆ,,,, ì˜¤ë¥˜ ë³´ë‚¼ê±°ì„,,

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64
1.0
1.0

In [15]:
# ì§€ì • indexë¥¼ ìˆ«ìë¡œ ì‚¬ìš©í•˜ë©´ ì–´ë–»ê²Œ ë ê¹Œ?
# ì“°ì§€ ë§ˆì…ˆ!
s = pd.Series([1,2,3,4,5],
              dtype=np.float64,
              index=[0, 2, 100, 6, 9])
print(s)
print(s[0])  # 1.0
# print(s[1])  # error

0      1.0
2      2.0
100    3.0
6      4.0
9      5.0
dtype: float64

In [19]:
# ì§€ì • indexì— ê°™ì€ indexê°€ ì¡´ì¬í•˜ë©´ ì–´ë–»ê²Œ ë ê¹Œ?
# ì˜¬ ì´ê²Œ ë˜ë„¤? => ê°™ì€ indexë¡œ ë˜ì–´ ìˆëŠ” ê²ƒì„ indexingí•˜ë©´ Seriesë¡œ ê²°ê³¼ë¥¼ ê°€ì ¸ì˜´!
# ê·¸ëŸ°ë° ì´ëŸ°ì§“ì€ í•˜ì§€ë§ˆì…ˆ! indexëŠ” uniqueí•´ì•¼í•´...
s = pd.Series([1,2,3,4,5],
              dtype=np.float64,
              index=['c','b','c','k','m'])
print(s)
print(s['c'])

c    1.0
b    2.0
c    3.0
k    4.0
m    5.0
dtype: float64
c    1.0
c    3.0
dtype: float64

In [22]:
# indexing, slicing
# indexingì€ ndarrayë‚˜ listì™€ ë¹„ìŠ·í•¨!
# ê·¸ëŸ°ë° slicingì€ ë‹¬ë¼ë‹¬ë¼, ë‚œ ë‹¤ë¥¸ ì• ë“¤ê³¼ëŠ” ì¢€ ë‹¬ë¼~ğŸ‘

s = pd.Series([1,2,3,4,5],
              dtype=np.float64,
              index=['c','b','a','k','m'])
print(s)
print(s[0:3])  # ìˆ«ì indexë¥¼ ì´ìš©í•œ slicing(ndarray, listì™€ ë™ì¼)  s['í¬í•¨':'ë¶ˆí¬í•¨']
print(s['c':'a']) # ì§€ì • indexë¥¼ ì´ìš©í•œ slicing  s['í¬í•¨':'í¬í•¨']

c    1.0
b    2.0
a    3.0
k    4.0
m    5.0
dtype: float64
c    1.0
b    2.0
a    3.0
dtype: float64
c    1.0
b    2.0
a    3.0
dtype: float64

In [24]:
# boolean indexing, fancy indexing ì ìš© ê°€ëŠ¥
s = pd.Series([1,2,3,4,5],
              dtype=np.float64,
              index=['c','b','a','k','m'])
print(s)
# ì§ìˆ˜ë§Œ ë½‘ì•„ë‚´ëŠ” boolean indexing
print(s[s % 2 == 0])
# fancy indexing
print(s[[0,2]])

c    1.0
b    2.0
a    3.0
k    4.0
m    5.0
dtype: float64
b    2.0
k    4.0
dtype: float64
c    1.0
a    3.0
dtype: float64

In [26]:
# Seriesë¥¼ ë§Œë“œëŠ” ë˜ ë‹¤ë¥¸ ë°©ë²•
# indexë¥¼ keyë¡œ, ì €ì¥í•˜ëŠ” ê°’ì„ valueë¡œ êµ¬ì„±ë˜ëŠ” ìë£Œêµ¬ì¡°
'''
s = pd.Series([1,2,3,4,5],
              dtype=np.float64,
              index=['c','b','a','k','m'])
'''

# dictionaryë¥¼ ì´ìš©í•´ì„œ Seriesë¥¼ ìƒì„±
my_dict = {'ì„œìš¸': 1000,
           'ì¸ì²œ': 500,
           'ì œì£¼': 200}
s = pd.Series(my_dict)
print(s)

ì„œìš¸    1000
ì¸ì²œ     500
ì œì£¼     200
dtype: int64

In [41]:
# ì—°ìŠµë¬¸ì œ!
# Aê³µì¥ì˜ 2020ë…„ 1ì›” 1ì¼ë¶€í„° 10ì¼ê°„ ìƒì‚°ëŸ‰ì„ Seriesë¡œ ì €ì¥
# ìƒì‚°ëŸ‰ì€ í‰ê· ì´ 50ì´ê³  í‘œì¤€í¸ì°¨ê°€ 5ì¸ ì •ê·œë¶„í¬ì—ì„œ ëœë¤í•˜ê²Œ ìƒì„±(ì •ìˆ˜)
# index => ë‚ ì§œ

import numpy as np
import pandas as pd
from datetime import datetime, timedelta

start_day = datetime(2020,1,1)
print(start_day)

# list comprehension => list ìƒì„±ì‹œ ì œì–´ë¬¸(for, if)ì„ ì´ìš©
my_list = [int(x) for x in np.random.normal(50,5,(10,))]
print(my_list)
s1 = pd.Series(my_list,
              index=[start_day + timedelta(days=x) for x in range(10)])
print(s1)


# Bê³µì¥ì˜ 2020ë…„ 1ì›” 1ì¼ë¶€í„° 10ì¼ê°„ ìƒì‚°ëŸ‰ì„ Seriesë¡œ ì €ì¥
# ìƒì‚°ëŸ‰ì€ í‰ê· ì´ 70ì´ê³  í‘œì¤€í¸ì°¨ê°€ 8ì¸ ì •ê·œë¶„í¬ì—ì„œ ëœë¤í•˜ê²Œ ìƒì„±(ì •ìˆ˜)
start_day = datetime(2020,1,1)
my_list = [int(x) for x in np.random.normal(70,8,(10,))]
s2 = pd.Series(my_list,
              index=[start_day + timedelta(days=x) for x in range(10)])
print(s2)

# ë‚ ì§œë³„ ìƒì‚°ëŸ‰ì˜ í•©
print(s1 + s2)

2020-01-01 00:00:00
[49, 50, 51, 50, 57, 55, 49, 65, 41, 50]
2020-01-01    49
2020-01-02    50
2020-01-03    51
2020-01-04    50
2020-01-05    57
2020-01-06    55
2020-01-07    49
2020-01-08    65
2020-01-09    41
2020-01-10    50
dtype: int64
2020-01-01    73
2020-01-02    77
2020-01-03    69
2020-01-04    64
2020-01-05    72
2020-01-06    56
2020-01-07    68
2020-01-08    63
2020-01-09    59
2020-01-10    73
dtype: int64
2020-01-01    122
2020-01-02    127
2020-01-03    120
2020-01-04    114
2020-01-05    129
2020-01-06    111
2020-01-07    117
2020-01-08    128
2020-01-09    100
2020-01-10    123
dtype: int64

In [43]:
# ì—°ìŠµë¬¸ì œ 2
# ë‚ ì§œë¥¼ ë‹¤ë¥´ê²Œ í•´ì„œ ìƒì‚°ëŸ‰ì˜ í•©ì„ êµ¬í•´ë´…ì‹œë‹¹

# Aê³µì¥ì˜ 2020ë…„ 1ì›” 1ì¼ë¶€í„° 10ì¼ê°„ ìƒì‚°ëŸ‰ì„ Seriesë¡œ ì €ì¥
# ìƒì‚°ëŸ‰ì€ í‰ê· ì´ 50ì´ê³  í‘œì¤€í¸ì°¨ê°€ 5ì¸ ì •ê·œë¶„í¬ì—ì„œ ëœë¤í•˜ê²Œ ìƒì„±(ì •ìˆ˜)

# Bê³µì¥ì˜ 2020ë…„ 1ì›” 5ì¼ë¶€í„° 10ì¼ê°„ ìƒì‚°ëŸ‰ì„ Seriesë¡œ ì €ì¥
# ìƒì‚°ëŸ‰ì€ í‰ê· ì´ 70ì´ê³  í‘œì¤€í¸ì°¨ê°€ 8ì¸ ì •ê·œë¶„í¬ì—ì„œ ëœë¤í•˜ê²Œ ìƒì„±(ì •ìˆ˜)

start_day_A_factory = datetime(2020,1,1)
start_day_B_factory = datetime(2020,1,5)


my_list = [int(x) for x in np.random.normal(50,5,(10,))]
s1 = pd.Series(my_list,
              index=[start_day_A_factory + timedelta(days=x) for x in range(10)])

my_list2 = [int(x) for x in np.random.normal(70,8,(10,))]
s2 = pd.Series(my_list2,
              index=[start_day_B_factory + timedelta(days=x) for x in range(10)])
print(s2)

# ë‚ ì§œë³„ ìƒì‚°ëŸ‰ì˜ í•©
print(s1 + s2)

2020-01-05    79
2020-01-06    82
2020-01-07    70
2020-01-08    61
2020-01-09    64
2020-01-10    73
2020-01-11    75
2020-01-12    69
2020-01-13    65
2020-01-14    80
dtype: int64
2020-01-01      NaN
2020-01-02      NaN
2020-01-03      NaN
2020-01-04      NaN
2020-01-05    130.0
2020-01-06    132.0
2020-01-07    111.0
2020-01-08    119.0
2020-01-09    105.0
2020-01-10    124.0
2020-01-11      NaN
2020-01-12      NaN
2020-01-13      NaN
2020-01-14      NaN
dtype: float64

## DataFrame
: 2ì°¨ì› matrix êµ¬ì¡°, Seriesì˜ ì§‘í•©

In [52]:
# DataFrameì€ dictionaryë¥¼ ì´ìš©í•´ì„œ ë§Œë“¤ë©´ í¸í•¨~
import numpy as np
import pandas as pd
my_dic = {'ì´ë¦„': ['í™ê¸¸ë™','ì•„ì´ìœ ','ê¹€ì—°ì•„','ì‹ ì‚¬ì„ë‹¹'],
          'í•™ë…„': [4, 3, 1, 2],
          'í•™ì ': [1.5, 2.4, 3.9, 4.5]}

df = pd.DataFrame(my_dic)
display(df)

# DataFrameì˜ ê¸°ë³¸ ì†ì„±
print(df.shape)  # (4,3)
print(df.values) # 2ì°¨ì› ndarray
print(df.size)   # DataFrameì•ˆì˜ ìš”ì†Œ ê°œìˆ˜ => 12
print(df.ndim)   # 2
print(df.index)  # í–‰ index, RangeIndex(start=0, stop=4, step=1)
print(df.columns) # ì—´ index, Index(['ì´ë¦„', 'í•™ë…„', 'í•™ì '], dtype='object')

df.index.name = 'í•™ë²ˆ'
df.columns.name = 'í•™ìƒì •ë³´'
display(df)

     ì´ë¦„  í•™ë…„   í•™ì
0   í™ê¸¸ë™   4  1.5
1   ì•„ì´ìœ    3  2.4
2   ê¹€ì—°ì•„   1  3.9
3  ì‹ ì‚¬ì„ë‹¹   2  4.5

(4, 3)
[['í™ê¸¸ë™' 4 1.5]
 ['ì•„ì´ìœ ' 3 2.4]
 ['ê¹€ì—°ì•„' 1 3.9]
 ['ì‹ ì‚¬ì„ë‹¹' 2 4.5]]
12
2
RangeIndex(start=0, stop=4, step=1)
Index(['ì´ë¦„', 'í•™ë…„', 'í•™ì '], dtype='object')

í•™ìƒì •ë³´    ì´ë¦„  í•™ë…„   í•™ì
í•™ë²ˆ
0      í™ê¸¸ë™   4  1.5
1      ì•„ì´ìœ    3  2.4
2      ê¹€ì—°ì•„   1  3.9
3     ì‹ ì‚¬ì„ë‹¹   2  4.5

In [57]:
# DataFrameì˜ columnëª…ê³¼ indexëª…ì„ ë³€ê²½
# rename()

my_dic = {'ì´ë¦„': ['í™ê¸¸ë™','ì•„ì´ìœ ','ê¹€ì—°ì•„','ì‹ ì‚¬ì„ë‹¹'],
          'í•™ë…„': [4, 3, 1, 2],
          'í•™ì ': [1.5, 2.4, 3.9, 4.5]}

df = pd.DataFrame(my_dic)
display(df)

# inplace = True   =>  ì›ë³¸ì„ ìˆ˜ì •í•˜ê³  ë³µì‚¬ë³¸ì„ ë§Œë“¤ì§€ ì•ŠìŒ
# inplace = False   =>  ì›ë³¸ì€ ë‘ê³  ë³µì‚¬ë³¸ì„ ë§Œë“¬
new_df = df.rename(columns = {'ì´ë¦„':'í•™ìƒì´ë¦„',
                              'í•™ì ':'í‰ê· í‰ì '},
                   index={0:'one'},
                   inplace=False)
display(new_df)

     ì´ë¦„  í•™ë…„   í•™ì
0   í™ê¸¸ë™   4  1.5
1   ì•„ì´ìœ    3  2.4
2   ê¹€ì—°ì•„   1  3.9
3  ì‹ ì‚¬ì„ë‹¹   2  4.5

     í•™ìƒì´ë¦„  í•™ë…„  í‰ê· í‰ì
one   í™ê¸¸ë™   4   1.5
1     ì•„ì´ìœ    3   2.4
2     ê¹€ì—°ì•„   1   3.9
3    ì‹ ì‚¬ì„ë‹¹   2   4.5

In [58]:
# DataFrameì˜ íŠ¹ì • columnì„ indexë¡œ ì„¤ì •!
# ì´ë¦„ columnì„ indexë¡œ ì„¤ì •
# set_index()
my_dic = {'ì´ë¦„': ['í™ê¸¸ë™','ì•„ì´ìœ ','ê¹€ì—°ì•„','ì‹ ì‚¬ì„ë‹¹'],
          'í•™ë…„': [4, 3, 1, 2],
          'í•™ì ': [1.5, 2.4, 3.9, 4.5]}

df = pd.DataFrame(my_dic)
display(df)

new_df = df.set_index('ì´ë¦„', inplace=False)
display(new_df)

     ì´ë¦„  í•™ë…„   í•™ì
0   í™ê¸¸ë™   4  1.5
1   ì•„ì´ìœ    3  2.4
2   ê¹€ì—°ì•„   1  3.9
3  ì‹ ì‚¬ì„ë‹¹   2  4.5

      í•™ë…„   í•™ì
ì´ë¦„
í™ê¸¸ë™    4  1.5
ì•„ì´ìœ     3  2.4
ê¹€ì—°ì•„    1  3.9
ì‹ ì‚¬ì„ë‹¹   2  4.5

=================================================================

In [61]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/student/student.csv')
display(df)

    ì´ë¦„  ì…í•™ì—°ë„   ì„±ì
0  ì•„ì´ìœ   2015  1.5
1  ê¹€ì—°ì•„  2016  2.0
2  í™ê¸¸ë™  2015  3.1
3  ê°•ê°ì°¬  2017  1.1
4  ì´ìˆœì‹   2016  2.7